{% extends 'base.html' %}
{% load static %}
{% block body %}


  <div class="container-1">
    <center><h1><span>Hello world</span></h1></center>
  </div>


<div class="container">
  <form  action="{% url 'music' %}" method="post">
    {% csrf_token %}
    {{ form }}<br>
    <center><input type="submit" name="" value="Submit" class="btn btn-primary"></center><br>
  </form>
{% if  music %}
  <form  action="{% url 'download_data' %}" method="post">
    {% csrf_token %}

    <div class="container">
      <div class="jumbotron">
        <center><a href="{{ music.url }}" target="blank"><img src="{{ music.bigthumbhd }}" alt="" width="50%"></a></center><br>
        <center><div>
          <p>Song: {{ music.title }}</p>
          <p>Author: {{ music.author }}</p>
          <p>Category: {{ music.category }}</p>
          <p>{{ extension }}</p>
        </div></center>
          <div class="container">
            <div class="form-group">
            <label for="exampleFormControlSelect1">Select</label>
            <select class="form-control" id="exampleFormControlSelect1" required name="selected">
              <option>Audio:m4a@128k</option>
              <option>Video:mp4@640x360</option>
              <option>Video:mp4@1920x1080</option>
            </select><br>
              <center>
                {% if  not extension %}
                <input type="submit" name="download_button" value="Submit" class="btn btn-primary">

                {% else %}
                <a href="{{ music_try }}" download="{{ music.title }}.{{ extension }}"><input class="btn btn-danger" type="button"  name="download_location" value="Download"></a>
                {% endif %}
              </center>
              </form>
          </div>
        </div>
        </div>

        {% endif %}

        {% if music %}

        <div class="jumbotron">
          <center>
            <p>Hit <kbd>Download</kbd> and enjoy. Downloading videos and music from YouTube is <strike>Difficult</strike><b> Eazy</b></p>
          </center>
            <div class="img-fluid">
              <center><iframe src="https://giphy.com/embed/NXp9HM6YeuS0U" width="auto" height="auto" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/computer-dancing-happy-NXp9HM6YeuS0U">via GIPHY</a></p></center>
            </div>
        </div>
        {% else %}
        <div class="jumbotron">
          <center>
          <h1>What is going on here?</h1>
          <code><p>Paste and search then select your requirements and hit download</p></code>
        </center>
        </div>
        {% endif %}
      </div>
    </div>


</div>

<div class="container">
  <div class="jumbotron">
      <p>I can make it much more beautiful</p>
  </div>
</div>

<!--  If user using not an desktop  DUCK ENGLISH -->
<!--  If user is not using Desktop  -->

<script type="text/javascript">

if(screen.width<=699) {

  document.location = "{% url 'mobile_download' %}"
}

</script>
{% endblock %}
