<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a>
      <img src="{{ music.thumb }}" alt="W3Schools" >
    </a>
      <form class="form-control" action="{% url 'try' %}" method="post">{% csrf_token %}
        <input type="text" name="name" value="">
        <input type="submit" name="location" value="submit">
      </form>
      <a href="{{ music_down }}" download="{{ music.title }}.{{ music.extension }}"><span
                            class="glyphicon glyphicon-download-alt"></span> Download</a>
                            <p>{{ music.extension }}</p>
                            {{ music.title }}
                            {{ music.url }}
      <a href="{{ music_down.url }}"  download="{{ music.title }}.{{ extension }}">Download2</a>
  </body>
</html>
